{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ladda-themeless.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/doto.css' %}" />
    <title>doto</title>
    <script type="text/javascript">
        var data = function(data) {
            console.log(data);
        };
    </script>
</head>
<body>

    <noscript class="error">Javascript needs to be enabled for doto to work.  Please upgrade your browser or turn javascript back on.</noscript>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    doto
                </a>
                <div id="profile-tabs" class="navbar-left"></div>
            </div>
            <form action="" method="post" id="profile_form" class="hide navbar-form navbar-left">
                <div class="form-group clearfix">
                    {% csrf_token %}
                    <input id="profile_name" name="name" class="form-control" placeholder="Name" />
                    <input id="profile_email" name="email" class="form-control" placeholder="E-mail" />
                    <button class="btn">Add</button>
                </div>
            </form>
            <form action="" method="post" id="login_form" class="hide navbar-form navbar-left">
                <div class="form-group clearfix">
                    <div class="register-link">Not a member?  <a href="#">Register</a></div>
                    {% csrf_token %}
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" />
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
                    <button class="btn">Login</button>
                </div>
            </form>
        </div>
    </nav>

    <main>

        <div id="notify"></div>

        <section id="task-add-container" class="bottom-15 hide"></section>

        <div id="add-task-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add Task</h4>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" id="add-task-form">
                            {% csrf_token %}
                            <input type="hidden" id="task-profile-id" name="profile-id">
                            <fieldset class="form-group">
                                <label for="task-name">Name</label>
                                <input type="text" class="form-control" id="task-name" name="name">
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="task-details">Details</label>
                                <textarea type="text" class="form-control" id="task-details" name="details"></textarea>
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="task-deadline">Deadline</label>
                                <input type="text" class="form-control" id="task-deadline" name="deadline" placeholder="YYYY-MM-DD" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Cancel</button> <button id="save-task-button" class="btn btn-primary save"><span class="glyphicon glyphicon-save"></span> Save</button>
                    </div>
                </div>
            </div>
        </div>

        <section id="promo">
            <h1>Your To Do List</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis iaculis justo vitae libero venenatis sodales. Maecenas sed sodales ligula, sit amet ullamcorper orci. Integer euismod, est et accumsan aliquet, odio nisl venenatis neque, non tristique velit odio a tortor. Etiam mollis enim in suscipit aliquam. Integer venenatis dignissim dictum. Nullam mollis dui libero, sit amet facilisis justo interdum sit amet. Praesent scelerisque maximus libero, quis pulvinar velit porta a. Quisque id hendrerit erat. Ut scelerisque purus eu auctor tempor. Nulla suscipit felis at velit condimentum molestie. Etiam vitae dignissim ligula, sit amet commodo neque. Pellentesque tempor tempus leo, eget ullamcorper est efficitur a.</p>

            <p>Vestibulum dictum rutrum mauris vitae luctus. Etiam interdum quam ut enim elementum maximus. Nunc vestibulum diam vitae sapien lobortis pellentesque. Aenean molestie in mi nec pulvinar. Vivamus pretium hendrerit ullamcorper. Sed vitae erat vitae sem rhoncus condimentum et in odio. Sed molestie tortor ex, non lobortis lorem convallis eu. Morbi tincidunt sit amet velit sit amet finibus. Vestibulum vitae molestie lectus, hendrerit luctus quam. Donec sit amet turpis ultrices, auctor erat in, fringilla dolor. Suspendisse sit amet ligula vel tellus bibendum dapibus nec ac purus. Phasellus elementum ultrices metus id tristique. Vestibulum imperdiet dictum diam eu mollis. Proin egestas turpis quis massa hendrerit, eu sodales erat cursus. Nunc elementum tincidunt pharetra. Aliquam luctus pulvinar leo ut bibendum.</p>

            <p>Curabitur maximus sagittis lacus. Curabitur pharetra turpis vel elit tincidunt, a gravida turpis sollicitudin. In hac habitasse platea dictumst. Donec fringilla nulla nec sodales aliquam. Quisque nibh turpis, vestibulum at facilisis a, vulputate non magna. Ut in ipsum accumsan sapien aliquet accumsan vitae at nibh. Ut sodales dui eu ex dapibus semper. In eu viverra nibh. Praesent sodales enim vel elit consectetur posuere.</p>

            <p>Phasellus eu magna enim. Sed sit amet erat eu libero rhoncus tempor. Aenean vitae risus nec dui volutpat iaculis. Etiam maximus lorem a dui pellentesque eleifend. Mauris porta felis vel lectus volutpat, vel elementum lectus gravida. Sed non tincidunt diam, at semper odio. Vivamus tincidunt dolor a neque imperdiet, sed rhoncus nisl rhoncus. Proin et sollicitudin lorem, ac vulputate massa. Praesent id augue nec quam sagittis bibendum vel vitae mi.</p>

            <p>Donec purus nulla, finibus nec placerat ut, fermentum ut odio. Vestibulum dignissim elementum quam, quis volutpat leo euismod at. Etiam finibus tortor eget metus faucibus rhoncus. Nullam consequat, leo nec molestie viverra, sem libero iaculis purus, et imperdiet tortor augue at arcu. Donec fringilla justo sit amet nisi vehicula rutrum at in libero. Aliquam gravida at libero consectetur maximus. Praesent congue bibendum massa. In suscipit nulla eu ex laoreet maximus. Duis aliquam neque at consectetur suscipit. Aenean mattis arcu sed erat rhoncus, ut scelerisque urna mattis. In accumsan tristique nulla, eu aliquet ante placerat in. Morbi vulputate diam in auctor molestie. Suspendisse sollicitudin ac diam non suscipit. Nullam porta neque lorem, sed rhoncus felis molestie ac. Suspendisse scelerisque augue in sapien consectetur commodo.</p>
        </section>

        <section>
            <div id="profile-detail" class="list-group"></div>
        </section>

    </main>

    <footer>
        &copy; Copyright 2017 <a href="https://gointo.software">GoInto, LLC</a>
        -
        <a href="https://github.com/gointollc/doto/">doto is open source softare</a>
    </footer>

    <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/spin.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ladda.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/doto.js' %}"></script><!--//-->
    <script type="text/javascript"> 
        $(document).ready(function() {
            doto = new Doto();
            doto.setup();
        });
    </script>
</body>
</html>