main {}
nav {}
nav .navbar-form {
    margin-bottom: 0;
}
section {
    display: block;
    clear: both;
    margin: 0;
    padding: 10px 0;
}
#notify {
    max-height: 200px;
    overflow: hidden;
    display: block;
}
#notify:before {
    content: '';
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 150px, white);
    z-index: -50;
}

#login_form {}
#login_form .register-link {
    display: block;
    float: right;
}

#task-add-container {
    padding-right: .75em;
}

#profile-tabs {
    padding-right: .75em;
}
#profile-tabs button { margin-right: 5px !important; }
#profile-detail {
    width: 100%;
    /*margin-top: 60px;*/
}
.list-group-item-text.options {
    display: block;
}
.list-group-item-text.options i {
    padding: 5px;
}
.list-group-item-text.options button {
    /*clear: right;*/
    position: relative;
    top: -1.5em;
}
#profile-tasks {}
#task-list {}
#task-list li {}
#task-list li a {
    width: 100%;
}
#task-list li a span {
    margin-left: 15px;
}
#message {
    padding: 15px;
}

#promo {
    padding: 0 1.5em 1.5em;
}

/* helper classes */
.bottom-15 { margin-bottom: 15px; }
.bg-danger,
.bg-warning,
.bg-info,
.bg-success,
.bg-primary { padding: 10px; }

.btn { 
    float: right; 
    clear: none; 
    position: relative;
    /*top: -20px;
    z-index: 30;*/
}

.task-soon h3,
.task-soon .deadline {
    color: #C4974F !important;
}

.task-late h3,
.task-late .deadline {
    color: #C44F58 !important;
}

/* small? */
@media (min-width: 768px) {
    #login_form .register-link {
        top: 0.5em;
        position: relative;
        margin-left: .5em;
    }
}

/* tablet */
@media (min-width: 992px) { 
    
}

/* desktop */
@media (min-width: 1200px) { ... }