main {}
nav {}
nav .navbar-form {
    margin-bottom: 0;
}
section {
    display: block;
    clear: both;
    margin: 0;
    padding: 10px 0;
}

#task-add-container {
    padding-right: 15px;
}

#profile-tabs button { margin-right: 5px !important; }
#profile-detail {
    width: 100%;
    /*margin-top: 60px;*/
}
.list-group-item-text.options i {
    padding: 5px;
}
.list-group-item-text.options button {
    /*clear: right;*/
    position: relative;
    top: -1.5em;
}
#profile-tasks {}
#task-list {}
#task-list li {}
#task-list li a {
    width: 100%;
}
#task-list li a span {
    margin-left: 15px;
}
#profile-top .message {
    padding: 15px;
}

/* helper classes */
.bottom-15 { margin-bottom: 15px; }
.bg-danger,
.bg-warning,
.bg-info,
.bg-success,
.bg-primary { padding: 10px; }

.btn { 
    float: right; 
    clear: none; 
    position: relative;
    /*top: -20px;*/
    z-index: 30;
}